.flex-item {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.base {
    margin-bottom: 15px;
    background-color: #d0d3d4;
    border-radius: 4px;
}

.box1 {
    background-color: #63b1bc;
}

.box2 {
    background-color: #1f2a44;
}

.box3 {
    background-color: #ed145b;
}

.box4 {
    background-color: #efb661;
}

h1 {
    margin: auto;
}

/* Insira o código abaixo */

/*A1) Alinhados junto a borda de início;*/
 .container1 {
  display:flex;
  justify-content: start;
}

/*A2) Alinhados junto a borda final;*/
.container2 {
    display:flex;
  justify-content: center;
}

/*A3) Centralizados na linha;*/
.container3 {
    display:flex;
    justify-content: end;
}

/*A4) Distribuir os itens de forma igual ao longo da linha, o primeiro item junto a borda inicial da linha, o último junto a borda final da linha;*/
.container4 {
    display:flex;
    justify-content: space-between;
}

/*Distribuir os itens na linha com o mesmo espaçamento ao redor dele.*/
.container5 {
    display:flex;
    justify-content: space-around;
}

/*A6) Distribuir os itens de forma que o espaçamento entre quaisquer dos itens da linha seja igual.*/
.container6 {

      display:flex;
    justify-content: space-evenly;
} 

.container-exercicioB{
   display: flex;
   justify-content: start;
   flex-direction: column-reverse;
}

.container-desafio{
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}